// Always add a <main> tag. We don't add any styles to this, but you can add <main class="content"> if you like.

// Use <section> inside <main> or separately if you want.
section {
  padding: 4em 1em;
  margin: 0 auto;
  max-width: 50em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  padding-top: 1em;
}

h1, h2, h3, h4, h5, h6, strong {
  color: $header-color;
}

code, pre {
  background: $pre-bg-color;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
  background: $code-bg-color;
  color: #a7adba;
}

pre {
  padding: 1em;
  border-left: 2px solid $secondary-color;
}

pre > code {
  background-color: inherit;
}

a {
  color: $primary-color;
  text-decoration: none;
}

mark {
  padding: .2em;
  background-color: $highlight-color;
}

footer {
  text-align: center;
  padding: 1em;
  border-top: 1px solid gray;
}
