header nav {
  padding-top: 0;

  ul li:first-child {
    font-size: 1.2em;
    text-transform: uppercase;
  }
}

nav {
  padding: 0.5em 0;

  ul {
    background-color: $nav-bg-color-dark;
    list-style: none;
    margin: 0;
    padding: 0 1em;

    li:first {
      a {

      }
    }

    li {
      display: inline-block;

      a, span {
        display: inline-block;
        line-height: 3.5em;
        padding: 0.5em 1em;
        vertical-align: middle;
      }

      a {
        color: $nav-color-dark;
      }     

      a:hover {
        background-color: $nav-bg-color-dark-hover;
      }

      span {
        color: $nav-span-color-dark;
      }     
    }
  }
}

nav.inverse {
  ul {
    background-color: $nav-bg-color-light;
    li {
      a {
        color: $nav-color-light;
      }
      a:hover {
        background-color: $nav-bg-color-light-hover;
      }
      span {
        color: $nav-span-color-light;
      }
    }
  }
}
