// Anything you see here could be changed in a theme.

$header-color:    #333;
$text-color:      #566b78;
$primary-color:   $teal-color;
$secondary-color: $aqua-color;

$code-bg-color:   #f5f7f9;
$pre-bg-color:   #eee;

$font-stack: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
