// Anything you see here could be changed in a theme.
//
// Note: This file has no CSS selectors, just var declarations.

$header-color:    #333;
$text-color:      #566b78;
$primary-color:   $teal-color;
$secondary-color: $aqua-color;
$highlight-color: #fcf8e3;
$bg-color:        #fff;

$code-bg-color:   #f5f7f9;
$pre-bg-color:    #eee;

// <nav>...</nav>
$nav-color-light:       #292B2C;
$nav-span-color-light:  #292B2C;
$nav-bg-color-light:    #eceeef;
$nav-color-dark:        #fff;
$nav-span-color-dark:   #bbb;
$nav-bg-color-dark:     #111;

$font-stack: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
