// Base Styles
@import "partials/_base";
@import "partials/_theme";

body, .pagecss {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: $text-color;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: $text-color;
    background-color: $bg-color;
}

.pagecss {

  // See Footnote [box-sizing].
  box-sizing: border-box;
  *, *:before, *:after {
    box-sizing: inherit;
  }

  // General plain tags
  @import "partials/_general";

  // Utility styles
  @import "partials/_utility";

  // Layouts
  @import "partials/_layout";

  // Components
  @import "partials/_navbar";
}

// Footnotes:
//
// [box-sizing] https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
